// App.css
.app {
  font-family: "Mitr", serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffe6f0, #ffc2d4, #ff99b6);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: #333;
  text-align: center;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  animation: changeColor 5s infinite alternate;
  line-height: 1.5;
}

@keyframes changeColor {
  0% {
    color: #ff7eb3;
  }
  25% {
    color: #ff758c;
  }
  50% {
    color: #ff5f6d;
  }
  75% {
    color: #ff466f;
  }
  100% {
    color: #ff1a5f;
  }
}

.button {
  display: inline-block;
  padding: 12px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, #ff7eb3, #ff758c);
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.button:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f8ff;
  padding: 10px 0;
  text-align: center;
  font-size: 1rem;
  color: #333;
}

.footer h1 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
  margin: 0;
}
